<div class="container">
  <div class="jumbotron text-center" ng-show="userSession.user">
    <h1>You are already logged in!</h1>
    <a ui-sref="lists">Back to my lists</a>
  </div>

  <div class="jumbotron text-center">
    <h1>To-Do App</h1>
  </div>

  <div class="row" ng-hide="userSession.user">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="login-text">
        <h2>Please Login</h2>
      </div>
      <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
        <div class="login-form-group" ng-class="{ 'has-error' : authFail && !loginForm.password.$pristine && !loginForm.username.$pristine }">
          <input type="text" name="username" class="form-control input-md text-center" placeholder="username" ng-model="creds.username" required>
          <input type="password" name="password" class="form-control input-md text-center" placeholder="password" ng-model="creds.password" required>
        </div>
        <div class="failed-auth" ng-show="authFail">
          <p>{{ errorMessage }}</p>
        </div>
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="loginForm.$invalid">Login</button>
      </form>
    </div>
  </div>
</div>